
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a id="throwExplicitError" >Throw Explicit Error</a><br />
<a id="throwUnhandledException" >Throw Unhandled Exception</a>

@section pageScripts
{
    <script src="~/Scripts/PageScripts/Index.js"></script>
    
}
